[Unit]
Description=Gunicorn service for 137.220.33.233

[Service]
Restart=on-failure
User=root
WorkingDirectory=/root/sites/137.220.33.233/source
ExecStart=/root/sites/137.220.33.233/virtualenv/bin/gunicorn --bind unix:/tmp/137.220.33.233.socket superlists.wsgi:application

[Install]
WantedBy=multi-user.target

