[Unit]
Description=Gunicorn service for 35.201.132.37

[Service]
Restart=on-failure
User=root
WorkingDirectory=/home/root/sites/35.201.132.37/source
ExecStart=/home/root/sites/35.201.132.37/virtualenv/bin/gunicorn --bind unix:/tmp/35.201.132.37.socket superlists.wsgi:application

[Install]
WantedBy=multi-user.target

